body {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}


/* Pie */
.chunk {
   stroke: #000000;
   fill-opacity: 1;
   fill: #ffffff;
}

.pie-00 {
   fill: #b23c2b;
}

.pie-01 {
   fill: #d6604d;
}

.pie-02 {
   fill: #f4a582;
}

.pie-03 {
   fill: #b7dbc7;
}

.pie-04 {
   fill: #b7e5f0;
}

.pie-05 {
   fill: #92c5de;
}

.pie-06 {
   fill: #4393c3;
}

.pie-07 {
   fill: #2182ac;
}

.label, .title {
   font-size:22px;
   font-family:sans-serif;
}

.title {
   font-weight: bold;
   font-size: 32px;
}

.right {
   text-anchor:start
}

.left {
   text-anchor:end
}

.middle {
   text-anchor: middle
}

.pie-gallery-container {
   min-width: 15rem;
   margin: 0 1rem 1rem 0;
   border: 1px solid gray;
   padding: .5rem;
}

.pie-gallery-container div {
   text-align: center;
}


.pie-container {
   max-width: 20rem;
   margin: auto;
}

.pie-controls-container {
   margin: 0 0 .75rem 0;
}

.pie-controls-container div{
   display: block;
   text-align: center;
}

h4 {
   margin: 0 0 .25rem 0;
   text-align: center;
}

/* forms */
.form {
   display: flex;
   flex-direction: column;
   width: 20rem;
}

.form [type=text] {
   margin: 0 0 .5rem 0;   
}

.form [type=submit] {
   margin: .5rem auto 0 0;
}

.pie-gallery {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}

nav {
   display: flex;
   border-bottom: 1px solid black;
   margin-bottom: 1rem;
}

nav div {
   border-left: 1px solid black;
   border-top: 1px solid black;
   border-right: 1px solid black;
   margin: 0 .5rem 0 .5rem;
   padding: .25rem .25rem .25rem .25rem;
}

nav div a {
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
   font-size: .9rem;
   color: black;
}

.logged-in-name {
   border: 0;
   margin-left: 3rem;
}

.error {
   color: red;
   margin: 0 0 .5rem 0;
}